/* .footer {
    width: 100%;
    background-color: black;
    padding: 100px;
}

.footer_block {
    text-align: start;
}

.footer_block_title {
    color: white;
}
.footer_block_text {
    color: white;
} */

.main_container {
    width: 100%;
    min-height: 100vh;
  }

.catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    width: 150px;
    height: 200px;
    background-color: aqua;
    text-align: center;
    margin: 20px;
}

.main_menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
  }